// $p: "";
// $p: "../images/";
 /* 颜色 */
$color-black:#000000;
$color-white:#ffffff;
$color-gray-darkest:#333333;
$color-gray-dark:#8696a5;
$color-gray-light:#999999;
$color-blue-lightest:#0c4181;
$color-blue-light:#006bfc;
$color-blue-lighter:#a8bedc;
$color-blue:#032f60;
$color-blue-dark:#051629;

// $color-gold:#c7a26d;
// $color-red:#ff4242;
// $color-green:#1fb35e;
$color-yellow:#fbcc2f;
$color-yellow-dark:#ff7200;

$screen-sm-min:768px;


