doctype html
html
	head
		block meta
			meta(charset="utf-8")
		block link
			link(rel="stylesheet",href="css/common.css")
			link(rel="stylesheet",href="css/ex2.css")
			script(src="js/ex2.js")

		

	body
		block top
		block nav
		block content
		block pageIn
			#pagein 页内继承
		

		block pageIn
		block footer
			#footer
				p footer